@page "/addemployee"
@using BethanysPieShopHRM.Shared.Model
@rendermode InteractiveAuto

@if (!Saved)
{
    <section class="employee-edit">

        <h1 class="page-title">Details for @Employee.FirstName @Employee.LastName</h1>

        <EditForm Model="@Employee" 
                OnValidSubmit="@HandleValidSubmit" FormName="employee-editor"
                OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator  />
            <ValidationSummary></ValidationSummary>

            
            <div class="row mb-3">
                <label for="firstName" class="col-form-label col-md-3">First name: </label>
                <div class="col-md-8">
                    <InputText id="firstName" class="form-control col-md-8" @bind-Value="@Employee.FirstName" placeholder="Enter first name"></InputText>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Employee.FirstName)" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="lastName" class="col-form-label col-md-3">Last name: </label>
                <div class="col-md-8">
                    <InputText id="lastName" class="form-control col-md-8" @bind-Value="@Employee.LastName" placeholder="Enter last name"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Employee.LastName)" />
            </div>


            <div class="row mb-3">
                <label for="birthdate" class="col-form-label col-md-3">Birthdate: </label>
                <div class="col-md-8">
                    <InputDate id="birthdate" class="form-control col-md-8" @bind-Value="@Employee.BirthDate" placeholder="Enter birthdate"></InputDate>
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-form-label col-md-3">Email: </label>
                <div class="col-md-8">
                    <InputText id="email" class="form-control col-md-8" @bind-Value="@Employee.Email" placeholder="Enter email"></InputText>
                    <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Employee.Email)" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary me-1">Save employee</button>

        </EditForm>


    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
    <button type="button" class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</button>
}